// CreateTravelPlan.scss

.createTravelPlan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .container {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //height: 70vh;
      width: 57%;
      padding: 30px;
  
      h1 {
        margin-bottom: 40px;
        color: var(--text-color);
      }
  
      .where-to {
        padding: 8px 8px 5px 8px;
        border: 1px solid var(--text-color);
        box-shadow: var(--box-shadow-1);
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-radius: 8px;
  
        span {
          margin-bottom: 2px;
          font-size: var(--paragraph-3);
          font-weight: 700;
          color: var(--text-color);
        }
  
        input {
          padding: 5px;
          outline: none;
          font-size: var(--paragraph-2);
          font-weight: 400;
          color: var(--text-color);
        }
      }
  
      .dates {
        padding: 8px 8px 5px 8px;
        border: 1px solid var(--text-color);
        box-shadow: var(--box-shadow-1);
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-radius: 8px;
  
        .date-heading {
          font-size: var(--paragraph-3);
          font-weight: 700;
          //margin-bottom: 2px;
        }
  
        .select-date {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .date-inputs {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
  
          .date-input-wrapper {
            display: flex;
            align-items: center;
            //margin-bottom: 5px;
            width: 45%;
            //border: 1px solid var(--text-color);
            //border-radius: 8px;
            padding: 3px;
            cursor: pointer;

            i{
                margin-top: 3px;
            }
  
            .date-input {
              width: 100%;
              border: none;
              outline: none;
              font-size: var(--paragraph-1);
              color: var(--text-color);
              background: none;
              padding-left: 10px;
            }
          }
  
          .date-picker {
            //margin-top: 30px;
          }
        }
      }
  
      .invite-trip {
        width: 70%;
        display: flex;
        cursor: pointer;
        margin-bottom: 20px;
  
        i {
          margin-right: 5px;
        }
  
        span {
          font-size: var(--paragraph-2);
          font-weight: 400;
          color: var(--text-color-light);
        }
      }
  
      .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 50px;
        background-color: var(--orange);
        border-radius: 25px;
        cursor: pointer;
  
        span {
          color: white;
          font-weight: 700;
          font-size: var(--sidebar);
        }
      }
    }
  }

  
  