.milestone {
    //border: 1px solid red;
    height: 35vh;
    padding: 0.8vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #ffffff;
    .profile {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1vw;
        padding: 0.6vw;
        background-color: #CACACA;
        background-color: #ccebff;
        width: 16vw;
        border-radius: 4vw;
        border-top-left-radius: 0;
        img {
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
        }
        .name-role {
            display: flex;
            flex-direction: column;
            p {
                text-align: left;
                //border: 1px solid red;
                margin: 0;
            }
            .post {
                font-weight: 500;
            }
        }
    }
    .para {
        text-align: left;
        padding: 1.5vh 1vw;
        background-color: rgb(220, 220, 220);
        background-color: #ffefe1;
        border-radius: 1vw;
        border-top-right-radius: 0;
        //border-bottom-left-radius: 40px;
    }
}