.div-4 {
    padding: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/src//assets/ella2.jpg");
    background-size: cover;

    h1 {
      color: white;
    }
  
    .input-btn {
      position: relative;
      border: 2px solid #D8D8D7;
      background-color: white;
      border-radius: 0.5vw;
      padding: 0.3vw 1.2vw;
      margin-top: 2vh;
      input {
        height: 6vh;
        width: 22vw;
        font-size: 1.1vw;
      }
      input:focus {
        border: none;
        outline: none;
      }
      button {
        height: 6vh;
        position: absolute;
        width: 9vw;
        background-color: #69B7F9;
        border-radius: 0.5vw;
        color: white;
        padding: 0.8vw;
        left: 15vw;
        cursor: pointer;
        font-size: 1.1vw;
      }
  
    }
}