.placeTravelPlan{
    .show-place-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        background-color: #f1f4f7;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 10px;
    
        .place-name{
            display: flex;
            align-items: center;
            margin-left: -22px;
         
            
            .icon-tag{
            
    
                i{
    
                }
    
                span{
                  
            
                }
            }

        
    
            .name{
                font-size: var(--sidebar);
                color: var(--text-color);
                font-weight: 700;
                margin-left: 5px;
                width: 490px;
                cursor: pointer;
            
            }

            .added-by{
               
                img{
                    border-radius: 100%;
                    width: 28px;
                    height: 28px;
                    margin-top: 4px;
                }
                margin-left: 10px;
            }

            .date{ 
                width: 50px;
                cursor: pointer;
                display: flex;
                align-items: center !important;
                justify-content: center ;
           
               p{
                margin-left: 4px;
                margin-top: 3px;
                font-size: var(--paragraph-3);
                width: 40px;
     
               }
          
            }
    
            .delete{
                top: 5px; 
                right: -35px;
                cursor: pointer;
            }
    
        }
    
        .add-notes{
            margin-left: 10px;
            margin-top: -5px;
            input{
                width: 100%;
                height: 40px;
                padding: 10px;
                border-radius: 5px;
                font-size: var(--paragraph-1);
                outline: none;
                background-color: #f1f4f7;
                color: var(--text-color);
            }
        }
    
        .bottom-show-place{
            display: flex;
            align-items: center;
            margin-top: -5px;
            //justify-content: center;
            width: 100%;
         
    
            .add-cost{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100% !important;
        
                height: 40px;
                 
                i{
                    cursor: pointer;
                    margin-top: 5px;
                }

                .fa-pen{
                    margin-top: 0px;
                    font-size: 12px;
                    margin-left: 5px;
                }
                span{
                    font-size: var(--paragraph-1);
                    color: var(--text-color);
                    font-weight: 400;
                    margin-left: 5px;
                    width: 1000px !important;
                    cursor: pointer;
                }
            }
        }
    }
}
