.service-provider-listing-admin {


  // padding: 20px;
  // background-color: #f5f5f5;
  /* justify-content: center; */
  border-radius: 10px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: scroll;

  h1 {
    // font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .listing-container {
    height: 70vh;
    width: 70vh;
  

  .listing-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    position: relative;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .listing-details {
      padding: 15px;

      h2 {
        font-size: 20px;
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        color: #666;
      }

      .admin-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        p{
          font-weight: bold;
          color: #000000;
        }

        .status {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px 10px;
          border-radius: 3px;
          
          &.pending {
            background-color: #ffeb3b;
            color: #856404;
          }

          &.approved {
            background-color: #4caf50;
            color: #fff;
          }

          &.rejected {
            background-color: #f44336;
            color: #fff;
          }
        }

        .buttonsofChoice{
          display: flex;
          gap: 10px;
          .approve-btn, .reject-btn {
            padding: 8px 12px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 14px;
            color: #fff;
            margin-top: 5px;
          }
  
          .approve-btn {
            background-color: #4caf50;
          }
  
          .reject-btn {
            background-color: #f44336;
          }

        }

        
      }
    }
  }
}
}
