.maptravelplan{
    width: 100%;
    height: 100%;
    display: flex;
 
    .map-container{
        position: relative;
        width: 100%;  
        height:100%;
        border: 1px solid #ddd; 
    }
 
    .map-container *:focus {
        outline: none !important;
    }
      
    .bottom{
        position: absolute;
        margin-top: -110px;
        width: 100%; 
        padding: 10px;       
  
        .cont{
            background-color: var(--white);
            border-radius: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            height:90px;
            overflow: scroll;
            padding: 0px 15px;

            .fa-circle-xmark{
                align-self: flex-end;
                margin: 5px 0px;
                font-size: var(--paragraph-2);
                z-index: 1000;
                cursor: pointer;
            }

            .details{
                display: flex;
                flex-direction: column;
              
                .top{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    height: 30%;
                    
                    .left{
                        font-size: var(--paragraph-2);
                        font-weight: 500;
                        h3{
                            width: 500px;
                        }
                        button{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 5px;
                            background-color: var(--orange);
                            padding: 7px;
                            margin-top: 8px;
                            color: var(--white);
                            i{
                                margin-right: 4px;
                                font-size: var(--paragraph-3);
                            }
                        }

                        .rating{
                            margin-top: 7px;
                            display: flex;
                            align-items: center;
                            color: var(--orange);
                            i{
                                margin-right: 5px;
                            }
                            img{
                                width: 15px;
                                height: 15px; 
                            }

                            P{
                                font-size: var(--paragraph-1);
                                margin-right: 5px;
                            }
                        }
                    }
                    .right{
                         display: flex;
                         align-items: center;
                         justify-content: end;
                       
                        img{
                            width: 80px !important;
                            height:80px !important;
                            border-radius: 10px;
                        }
                    }
                }
                
            }
        }
    }
}
