.financial-insights {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
    }
  
    .table-container {
      overflow-x: auto;
      margin-top: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      // background-color: #fff;
  
      table {
        
        width: 100%;
          border-collapse: collapse;
          margin: 20px ; 
          height: 50vh;
        overflow: scroll;
  
        thead {
          background-color: #007bff;
          color: #fff;
  
          th {
            padding: 12px 15px;
            text-align: left;
          }
        }
  
        tbody {
          tr {
            &:nth-child(even) {
              background-color: #f2f2f2;
            }
  
            &:hover {
              background-color: #e9f5ff;
            }
          }
  
          td {
            padding: 10px 15px;
            text-align: left;
  
            &.profit {
              color: green;
              font-weight: bold;
            }
  
            &.loss {
              color: red;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  
  .generate-button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .generate-button:hover {
    background-color: #45a049;
  }
  
  .total-payment {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  