.CommunityFriendList{
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        height: 500px;
        overflow: scroll;

  
        .friend{
            width: 100%;
            display: flex;
            align-items:  center;
            margin-bottom: 20px;
            border-radius: 10px;
            transition: background-color 0.3s ease; 
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 2px;
            padding-bottom: 2px;
            img{
                width: 45px;
                height: 45px;
                border-radius: 100%;
                margin-right: 18px;
            }
    
            p{
                font-size: var(--paragraph-1);
                letter-spacing: 0.03rem;
                width: 200px;
            }

            .circle{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--orange);
                border-radius: 1000%;
                width: 20px;
                height: 20px;
                color: var(--white);
                font-size: var(--paragraph-3);
            }
        }

        .friend:hover{
            background-color: var(--orange);
            cursor: pointer;
            .circle{
                background-color: var(--green);
            }
        }
    }

    .view-more{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--paragraph-1);
        cursor: pointer;
        i{
            font-size: var(--paragraph-2);
            margin-right: 10px;
        }
    }
    
   
}