.CommunityFriendList{
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        height: 500px;
        overflow: scroll;
    }

    .view-more{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--paragraph-1);
        cursor: pointer;
        i{
            font-size: var(--paragraph-2);
            margin-right: 10px;
        }
    }
    
   
}