.myListings{
    margin-top: 20px;
    .container{
        padding: 30px 100px;

        .heading-container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .heading{
                font-size: 27px;
                font-weight: 600;
                color: var(--text-color);
            }

            .new-listing{
                background-color: var(--blue);
                width: 130px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                cursor: pointer;

                span{
                    font-size: var(--paragraph-2);
                    font-weight: 500;
                    color: white;
                }
            }
        }

        .listings{
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 30px;
        }
    }
}