.reports {
    padding: 20px;
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .chart-container {
      text-align: center;
  
      h2 {
        margin-bottom: 10px;
      }
    }
  }
  