.profile-details {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    border-radius: 50%;
    cursor: pointer;
    width: 50px; /* Adjust size */
    height: 50px; /* Keep it consistent */
    border-radius: 50%; /* Circular shape */
    object-fit: cover; /* Prevent distortion */
    cursor: pointer;
  }

  h4 {
    font-weight: 500;
    letter-spacing: 0.01rem;
    cursor: pointer;
    margin-right: 1vh;
  }
}
