.community{
    display: flex;
    justify-content: center;  
    flex-direction: column;
    overflow: hidden;
    .container{
        display: flex;
        width: 100%;
        flex-direction: column;    
        height: 100vh;
    }
  .bottom{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 18% 60% 22%;
  }

  .bottom-one{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 15.5%;
    padding-left: 15%;
    .cont{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width:40%;
      margin-bottom: 25px;
      cursor: pointer;
      i{
        font-size: 20px;
        margin-right: 18px;
        width: 23px;
        opacity: 0.55;
      }

      p{
        font-size: var(--paragraph-2);
        font-weight: 400;
        width: 50px;
        letter-spacing: 0.02rem;
      }
    }

    .publish{
      margin-top: 150% ;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 14%;
      width: 140px;
      // background-color: #f89d0a;
      // background-color: var(--input);
      background-color: var(--orange);
      padding: 8px;
      border-radius: 10px;
      box-shadow: var(--box-shadow-1);
      cursor: pointer;
      h4{
        font-size: var(--heading);
        font-weight: 500;
        opacity: 0.8;
      }

      i{
        font-size: var(--topic);
        opacity: 0.8;
      }
    }
  }
   
}