.transportTravelPlan{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        //border: 1px solid red;
        //margin-top: 30px;
        padding: 0 90px 0 35px;
        background-color: white;

        .transport-heading-container{
            display: flex;
            align-items: center;
            width: 250px;
            height: 50px;
            margin-top: 30px;

            i{

            }

            h2{
                margin-left: 15px;
                font-size: var(--topic);
                color: var(--text-color);
            }

        }

        .recommended-transport-heading-container{
            display: flex;
            align-items: center;
            width: 250px;
            height: 50px;
            margin-top: 20px;
            margin-left: 30px;

            i{

            }

            span{
                margin-left: 15px;
                font-size: var(--paragraph-2);
                color: var(--text-color);
                font-weight: 500;
            }

        }

        .show-transport-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            //align-items: center;
            //width: 250px;
            //height: 150px;
            padding: 5px;
            //border: 1px solid red;
            background-color: #f1f4f7;
            border-radius: 10px;
            margin-left: 30px;
            margin-top: 10px;

            .transport-name{
                display: flex;
                align-items: center;
                margin-left: -22px;
                position: relative;

                .icon-tag{
                    position: relative;
                    display: inline-block;

                    i{

                    }

                    span{
                        position: absolute;
                        top: 8px; 
                        right: 13.5px;
                        font-size: var(--paragraph-1);
                        background-color: var(--blue);
                        color: white;
                    }
                }

                span{
                    font-size: var(--sidebar);
                    color: var(--text-color);
                    font-weight: 700;
                    margin-left: 5px;
                }

                .delete{
                    position: absolute;
                    top: 5px; 
                    right: -35px;
                    cursor: pointer;
                }

            }

            .add-notes{
                margin-left: 10px;
                margin-top: -5px;
                input{
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: var(--paragraph-1);
                    outline: none;
                    background-color: #f1f4f7;
                    color: var(--text-color);
                }
            }

            .bottom-show-transport{
                display: flex;
                align-items: center;
                margin-top: -5px;
                //justify-content: center;

                .add-attachment{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 40px;

                    i{
                        cursor: pointer;
                    }

                    span{
                        font-size: var(--paragraph-1);
                        color: var(--text-color);
                        font-weight: 400;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }

                .add-cost{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 40px;

                    i{
                        cursor: pointer;
                    }

                    span{
                        font-size: var(--paragraph-1);
                        color: var(--text-color);
                        font-weight: 400;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        // .add-transport-container{
        //     display: flex;
        //     align-items: center;
        //     margin-left: 30px;
        //     margin-top: 15px;
        //     padding: 5px;
        //     background-color: #f1f4f7;
        //     border-radius: 10px;

        //     i{
        //         margin-left: 10px;
        //     }

        //     input{
        //         width: 100%;
        //         height: 40px;
        //         padding: 10px;
        //         border-radius: 5px;
        //         font-size: var(--paragraph-1);
        //         outline: none;
        //         background-color: #f1f4f7;
        //         color: var(--text-color);
        //     }
        // }

        .bottom-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            //border: 1px solid red;
            margin-top: 10px;
            padding: 0 0 40px 40px;

            .place{
                width: 170px;
                height: 250px;
                border: 1px solid red;

            }
        }
    }
}