.inviteTravelMates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .container{
        //margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //height: 70vh;
        width: 57%;
        padding: 30px;

        h1 {
            margin-bottom: 40px;
            color: var(--text-color);
        }

        .where-to {
            padding: 8px 8px 5px 8px;
            border: 1px solid var(--text-color);
            box-shadow: var(--box-shadow-1);
            width: 70%;
            display: flex;
            flex-direction: column;
      
            border-radius: 8px;
      
            span {
              margin-bottom: 2px;
              font-size: var(--paragraph-3);
              font-weight: 700;
              color: var(--text-color);
            }
      
            input {
              padding: 5px;
              outline: none;
              font-size: var(--paragraph-2);
              font-weight: 400;
              color: var(--text-color);
            }

            .recommending {
          
              width: 560px;
              margin-top: 60px;
              border-radius: 10px; 
              max-height: 400px;
              position: absolute;
              background-color: var(--white);
              border: 1px solid var(--text-color); // Allow scrolling if content exceeds max height
              font-size: var(--paragraph-2);
              .recommendation-item {
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                &:hover {
                  background-color: var(--input); // Add some hover effect
                }
              }
            }

          
        }
        .selected-users{
          width: 70%;
          padding: 8px 8px 5px 8px;
          display: flex;
          flex-wrap: wrap;
          height: 53px;
          overflow: scroll;
          font-size: var(--paragraph-3);
          p{
            background-color: var(--input);
            padding: 2.5px 6px;
            border-radius: 5px;
            margin: 1px;
            i{
              margin-left: 4px;
              font-size: var(--paragraph-3);
              cursor: pointer;
            }
          }
          
        }

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 50px;
            background-color: var(--orange);
            border-radius: 25px;
            cursor: pointer;
            margin-top: 5px;
      
            span {
              color: white;
              font-weight: 700;
              font-size: var(--sidebar);
            }
        }
    }
}