.notesTravelPlan{
    background-color: white;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        //border: 1px solid red;
        margin-top: 30px;
        padding: 0 90px 30px 35px;

        .top-container{
            display: flex;
            align-items: center;
            width: 150px;
            height: 50px;
            cursor: pointer;

            i{

            }

            h2{
                margin-left: 15px;
                font-size: var(--topic);
                color: var(--text-color);
            }
        }

        .bottom-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            //border: 1px solid red;
            margin-top: 10px;
            padding: 0 0 10px 40px;

            textarea{
                width: 100%;
                height: 80px;
                padding: 10px;
                border: none;
                background-color: #f1f4f7;
                border-radius: 10px;
                //resize: none;
                font-size: var(--paragraph-1);
                color: var(--text-color);
                outline: none;
            }

        }
    }
}