.CommunityFriendChat{
    width: 100%;
    height: 560px;  
    display: grid;
    padding-top: 12px;
    grid-template-rows:12% 72% 16%;

    .detail{
        display: flex;
        align-items: center;
        padding-left: 5px;
        box-shadow: var(--box-shadow-1);
        cursor: pointer;
        h2{
            font-size: var(--heading);
            font-weight: 420;
        }

        img{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-right: 20px;
     
        }
    }
    .chat{
       border-radius: 5px;
       border: 1px solid var(--input);
       margin: 20px 0px 10px 0px;
       padding: 20px 10px;
       display: flex;
       flex-direction: column;
       overflow: scroll;
      
       .component-1{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 16% 84%;
            margin-bottom: 18px;
           
            img{
                width: 25px;
                height: 25px;
                border-radius: 100%;
                margin-left: 5px;
            }

            p{
                font-size: var(--paragraph-1);
                text-align: left;
                margin-top: 3px;
                width: 85%;        
            }
       } 
       
       .component-2{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 84% 16%;
        margin-bottom: 18px;
       
        img{
            width: 25px;
            height: 25px;
            border-radius: 100%;
            margin-right: 5px;
        }

        p{
            font-size: var(--paragraph-1);
            text-align:right;
            width: 92%;   
            margin-top: 2px;     
        }
   }
    }

    .input{   
        border: 1px solid var(--input);

        box-shadow: var()--box-shadow-2;
        border-radius: 5px;
        padding: 0px 3px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        i{
            font-size:20px;
        }
        .fa-face-smile{
            font-size:22px;
        }
        
        .fa-paper-plane{
            color: var(--blue);
            margin-left: -5px;
        }

        input{
            padding: 1px 2px;
            font-size: var(--paragraph-1);
            border-radius: 5px;
            background-color: var(--input);
            width:76%;
            height: 40px;
            letter-spacing: 0.02rem;
            padding-left: 10px;
            overflow-y: scroll
           
        };
        input:focus {
            outline: none; 
        }
      
    }
}