.GuideProfile{
    display: grid;
    grid-template-columns: 17% 83%;
    height: 91.5%;
    width: 100%;
    .left{
        box-shadow: var(--box-shadow-2);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin: 20px;
        }

        h3{
            margin: 5px;
            font-size: var(--heading);
            font-weight: 550;
        }

        p{
            margin-top: 4px;
            font-size: var(--paragraph-1); 
        }

        button{
            padding: 7px 20px;
            margin-top:150%;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            i{
                margin-right: 10px;
            }
        }
    }

    .right{
        display: grid;
        grid-template-rows: 50% 50%;
    
        .down{
            display: grid;
            grid-template-columns: 50% 50%;

            .down-left{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 12% 88%;
                
                .top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3{
                        font-size: var(--heading);
                        margin:13px;
                        font-weight: 500;
                    }

                    button{
                        background-color: var(--input);
                        padding: 5px 15px;
                        border-radius: 5px;
                        text-align: end;
                        margin-right: 3px;
                        span{
                            margin-left: 3px;
                        }
                    }
                }
              

                .services-list {
                    list-style-type: none;
                    width: 100%;
                    height: 280px;
                    padding-bottom: 10px;
                    overflow-y: scroll; /* Changed from overflow: scroll to overflow-y: scroll for better UX */
                    padding: 0;
                    margin: 0;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap; /* Allow items to wrap */
                        padding: 13px;
                        font-size: var(--paragraph-2);
                        border-bottom: 1px solid #ccc;
                        word-break: break-word; /* Break long words */
                      }
                      li:last-child {
                        border-bottom: none;
                      }
                      i {
                        margin-left: auto; 
                        cursor: pointer;/* Push icon to the far right */
                      }
                }

            }

            .down-right{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
               
                .left{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        box-shadow: none;

                        .date-container{
                            
                        }

                       .react-datepicker__navigation{
                            margin-top: 0px;
                       }
                }

                .right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    box-shadow: none;
                

                    .bottom{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: scroll !important;
                        .cont{
                            width: 90%;
                            padding: 10px;
                            border-radius: 5px;
                            margin-top: 5px;
                            box-shadow: var(--box-shadow-2);
                            font-size: var(--paragraph-1) !important;
                            p{
                                font-size: var(--paragraph-1) !important;
                                margin-left: 15px;
                            }
                            h5{  
                                font-size: var(--paragraph-1) ;
                                width: 100px;
                            }

                            .cname{
                                display: flex;
                                flex-direction: row;
                                margin-bottom: 2px;
                            }

                            .crole{
                                display: flex;
                                flex-direction: row;
                                margin-bottom: 2px;
                            }

                            .cexperience{
                                display: flex;
                                flex-direction: row;
                            }
                        }
                    }

                    h3{
                        margin: 5px;
                        font-size: var(--heading);
                        font-weight: 550;
                        margin-top: 25px;
                    }
                }                         
            
            }
        }

        .map{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 12% 88%;
            
            
            h4{
                font-size: var(--heading);
                margin:13px;
                font-weight: 500;
            }
        }
    }
}