.restaurantsTravelPlan{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        //border: 1px solid red;
        //margin-top: 30px;
        padding: 0 90px 30px 35px;
        background-color: white;

        .restaurants-heading-container{
            display: flex;
            align-items: center;
            width: 250px;
            height: 50px;
            margin-top: 30px;
            cursor: pointer;

            i{

            }

            h2{
                margin-left: 15px;
                font-size: var(--topic);
                color: var(--text-color);
            }

        }

        .recommended-restaurants-heading-container{
            display: flex;
            align-items: center;
            width: 250px;
            height: 50px;
            margin-top: 20px;
            margin-left: 30px;
            cursor: pointer;

            i{

            }

            span{
                margin-left: 15px;
                font-size: var(--paragraph-2);
                color: var(--text-color);
                font-weight: 500;
            }

        }

        .show-restaurant-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            //align-items: center;
            //width: 250px;
            //height: 150px;
            padding: 5px;
            //border: 1px solid red;
            background-color: #f1f4f7;
            border-radius: 10px;
            margin-left: 30px;
            margin-top: 10px;

            .restaurant-name{
                display: flex;
                align-items: center;
                margin-left: -22px;
                position: relative;

                .icon-tag{
                    position: relative;
                    display: inline-block;

                    i{

                    }

                    span{
                        position: absolute;
                        top: 8px; 
                        right: 13.5px;
                        font-size: var(--paragraph-1);
                        background-color: var(--orange);
                        color: white;
                    }
                }

                span{
                    font-size: var(--sidebar);
                    color: var(--text-color);
                    font-weight: 700;
                    margin-left: 5px;
                }

                .delete{
                    position: absolute;
                    top: 5px; 
                    right: -35px;
                    cursor: pointer;
                }

            }

            .add-notes{
                margin-left: 10px;
                margin-top: -5px;
                input{
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: var(--paragraph-1);
                    outline: none;
                    background-color: #f1f4f7;
                    color: var(--text-color);
                }
            }

            .bottom-show-restaurant{
                display: flex;
                align-items: center;
                margin-top: -5px;
                //justify-content: center;

                .add-attachment{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 40px;

                    i{
                        cursor: pointer;
                    }

                    span{
                        font-size: var(--paragraph-1);
                        color: var(--text-color);
                        font-weight: 400;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }

                .add-cost{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 40px;

                    i{
                        cursor: pointer;
                    }

                    span{
                        font-size: var(--paragraph-1);
                        color: var(--text-color);
                        font-weight: 400;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        .add-restaurant-container{
            display: flex;
            align-items: center;
            margin-left: 30px;
            margin-top: 15px;
            padding: 5px;
            background-color: #f1f4f7;
            border-radius: 10px;

            i{
                margin-left: 10px;
            }

            input{
                width: 100%;
                height: 40px;
                padding: 10px;
                border-radius: 5px;
                font-size: var(--paragraph-1);
                outline: none;
                background-color: #f1f4f7;
                color: var(--text-color);
            }
        }

        .bottom-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            //border: 1px solid red;
            margin-top: 10px;
            padding: 0 0 10px 40px;

            .article{
                width: 185px;
                height: 310px;
                //border: 1px solid red;
                display: flex;
                flex-direction: column;
                background-color: #f1f4f7;
                border-radius: 10px;
                padding: 10px 10px 0 10px;
                cursor: pointer;

                .post-cover{
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    //border-radius: 10px 10px 0 0;
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 115px;
                    padding-top: 10px;

                    .hotel-name{
                        width: 100%;
                        height: 40px;
                        font-size: var(--sidebar);
                        color: var(--text-color);
                        margin-bottom: 5px;
                        font-weight: 600;
                        //border: 1px solid red;
                    }

                    .rating{
                        display: flex;
                        //justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 15px;
                        //margin-top: 5px;
                        margin-bottom: 5px;
                        //border: 1px solid red;
                    }

                    .add-booking-btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 165px;
                        height: 30px;
                        border-radius: 15px;
                        background-color: var(--blue);
                        color: white;
                        cursor: pointer;
                        margin-top: 5px;

                        span{
                            font-size: var(--paragraph-2);
                            font-weight: 450;
                            color: white;
                            margin-left: 10px;
                        }
                    }

                }

            }
        }
    }
}