.user-management {
  margin: 30px 10px 20px 100px;
  padding: 20px;
  background-color: #f5f5f5;
  /* justify-content: center; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    width: 100%;

  
    h1 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  
    .user-table {
      width: 100%;
      overflow-x: auto;
  
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0px;  
        th, td {
          padding: 10px 20px 10px 20px;
          border: 1px solid #ddd;
          text-align: left;
          
        }
  
        th {
          background-color: #f4f4f4;
        }
  
        tbody tr:nth-child(even) {
          background-color: #f9f9f9;
        }
  
        .edit-button, .delete-button {
          background-color: #007bff; /* Green */
          color: white;
          border: none;
          padding: 5px 10px;
          cursor: pointer;
          margin-right: 10px;
  
          &:hover {
            opacity: 0.8;
          }
        }
  
        .delete-button {
          background-color: #f44336; /* Red */
        }
      }
    }
  
    .edit-form {
      margin-top: 20px;
  
      h2 {
        margin-bottom: 10px;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 10px;
  
          input {
            margin-left: 10px;
            padding: 5px;
          }
        }
  
        button {
          margin-top: 10px;
          padding: 10px;
          cursor: pointer;
  
          &:first-of-type {
            background-color: #007bff; /* Green */
            color: white;
            border: none;
  
            &:hover {
              opacity: 0.8;
            }
          }
  
          &:last-of-type {
            background-color: #f44336; /* Red */
            color: rgb(255, 255, 255);
            border: none;
            margin-left: 10px;
  
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    .modal {
      padding: 10px;
      .popup{
        position: relative;
        left: 0px;
        display: flex;
        flex-direction: column;
        

      }
      .namelabel{
        margin-top: 20px;
        position: relative;
        padding: 10px;
      }
      .namelabel span{
        
        position:absolute;
        left: 20px;
        top: -10px;
        
      }

      

        .nametext{
          
          outline: none;
          padding: 10px;
          width: calc(100% - 20px);
          margin-bottom: 20px;
          border: 1px solid #ddd;
          border-radius: 4px;
          outline: none;
          box-sizing: border-box;
        }
        .nametext:focus{
          border-color: #007bff;
        }
      
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .modal-content {
      background: rgb(255, 255, 255);
      padding: 20px;
      border-radius: 5px;
      width: 400px;
      
    }
    
    .modal-actions {
      display: flex;
      gap: 80px;
      justify-content: center;
    }

    
      .modal-actions button[type="submit"] {
        font-weight: 600;
        background-color: #007bff;
        color: white;
        padding: 8px 30px;
      }
      
      .modal-actions button[type="submit"]:hover {
        background-color: #007bff;
        transform: translateY(-2px);
      }
      
      /* Cancel button styling */
      .modal-actions button[type="button"] {
        font-weight: 600;
        background-color: #f44336;
        color: white;
        padding: 8px 30px;
        
      }
      .modal-actions button[type="button"]:hover {
        background-color: #e53935;
        transform: translateY(-2px);
      }
    
    
  }
  