.manageTripmates{
    height: auto;
    width: 27%;
    background-color: white;
    z-index: 2000;
    border-radius: 10px;
    box-shadow: var(--box-shadow-2);

    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        .icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .closing-i{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                height: 25px;
                width: 25px;
                //margin-left: 423px;
                background-color: var(--input);
                border-radius: 50%;
                cursor: pointer;
                
                i{
                    margin-top: 3px
                }
            }

            .back-i{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                height: 25px;
                width: 25px;
                //margin-left: 423px;
                background-color: var(--input);
                border-radius: 50%;
                cursor: pointer;
                
                i{
                    margin-top: 3px
                }
            }
        }

        .hearder{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;

            span{
                font-size: var(--header);
                font-weight: 700;
                color: var(--text-color);
            }
        }

        .body-container{
            width: 90%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 10px;

            span{
                font-size: var(--paragraph-2);
                font-weight: 500;
                color: var(--text-color-light);
            }

            .tripmate{
                display: flex;
                align-items: center;
                padding: 5px 10px;
                border: 1px solid var(--input);
                box-shadow: var(--box-shadow-1);
                border-radius: 10px;
                width: 100%;
                height: 45px;
                margin-bottom: 10px;

                .profile-pic{
                    margin-right: 10px;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                span{
                    font-size: var(--paragraph-2);
                    font-weight: 500;
                    color: var(--text-color-light);
                    width: 250px;
                    margin-right: 75px;
                }

                .remove-btn{
                    cursor: pointer;
                }

                
            }
            
        }
        
    }
}