.PopUpMain{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup-background); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; 
    padding: 0px;
    margin: 0px;
  
}