.exploreTravelPlan{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        //border: 1px solid red;
        margin-top: -30px;
        padding: 0 90px 0 35px;

        .top-container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .explore-tag{
                display: flex;
                align-items: center;
                width: 150px;
                height: 50px;
                //margin-left: 35px;

                i{

                }

                h2{
                    margin-left: 15px;
                    font-size: var(--topic);
                    color: var(--text-color);
                }
            }

            .browseall-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                width: 140px;
                height: 40px;
                border-radius: 20px;
                background-color: var(--orange);
                color: white;

                i{
                    margin-top: 5px;
                    margin-right: 10px;
                }

                h2{
                    font-size: var(--paragraph-1);
                    font-weight: 600;
                }
            }
        }

        .bottom-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            //border: 1px solid red;
            margin-top: 20px;
            padding: 0 0 40px 40px;

            .article{
                width: 170px;
                height: 250px;
                border: 1px solid red;

            }
        }
    }
}