// src/components/HeaderBar.scss
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: #fff;
    padding:10px;
  
    .header-left {
        // flex: 3;
      display: flex;
      align-items: center;
  
      .logo {
        width: 60px;
        height: auto;
        margin-right: 20px;
      }
  
      nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 30px;
  
        li {
          margin-right: 20px;
  
          a {
            color: #fff;
            // text-decoration: none;
            transition: all 0.4s ease;
  
            &:hover {
            color: var(--orange);
            // text-decoration: none;
            scale: 1.50;
            }
          }
        }
      }
    }
  
    .header-right {
        
      display: flex;
    //   flex: 2;
      align-items: center;
      margin-right: 40px;
  
      .search-bar {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        margin-right: 20px;
      }
  
      .notification-icon {
        
        position: relative;
        width: 24px;
        height: 24px;
        background: url('/path/to/notification-icon.png') no-repeat center center;
        background-size: contain;
        gap: 20px;
  
        .notification-count {
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: red;
          color: #fff;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 12px;
        }
      }

      .profile{
        margin-left: 30px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        span{
            margin: auto;
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 36px;
                height: 36px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
      }
    }
  }
  