.financial-insights {
  margin: 30px 10px 20px 100px;

  padding: 20px;
  background-color: #f5f5f5;
  /* justify-content: center; */
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
    
  
    .chart-container {
      margin-bottom: 40px;
  
      h2 {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  