.dashboard-overview {
  display: flex;
  flex-direction: column; /* Stack sections vertically for smaller screens */
  gap: 20px;
  padding: 20px;
  background: linear-gradient(to right, #f9fafb, #e3e6f0);
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  

  @media (min-width: 768px) {
    flex-direction: row; /* Spread sections horizontally on larger screens */
  }

  h1 {
    align-items: center;
    font-size: 24px;
    color: #334155;
    font-weight: 700;
    margin-bottom: 20px;

  }

  .stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 2; /* Take up more space compared to Recent Activity */
    justify-content: space-evenly;

    .stat-box {
      background: linear-gradient(135deg, #ffffff, #f3f4f6);
      border-radius: 12px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1; /* Adjust size to fit the container */
      min-width: 150px;

      &:hover {
        transform: translateY(-5px);
        transition: 0.3s ease;
      }

      h2 {
        font-size: 16px;
        color: #475569;
        margin-bottom: 10px;
      }

      p {
        font-size: 24px;
        font-weight: 600;
        color: #1e293b;
      }
    }
  }

  .recent-activity {
    flex: 1; /* Smaller width compared to stats */
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 20px;
      font-weight: 600;
      color: #475569;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 300px;
      overflow-y: auto;

      li {
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        background: linear-gradient(135deg, #f9fafb, #e5e7eb);
        font-size: 14px;
        color: #334155;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background: #e0f2fe;
        }
      }
    }
  }
}
