.sidebarTravelPlanOverview{
    .container{
        display: flex;
        flex-direction: column;

        .sidebar-item-overview{
            display: flex;
            align-items: center;
            padding-left: 20px;
            background-color: white;
            color: #747474;
            border-radius: 10px;
            height: 40px;

            span{
                font-size: var(--paragraph-1);
                font-weight: 450;
            }
        }

        
    }
}