.sidebarTravelPlanOverview{
    .container{
        display: flex;
        flex-direction: column;

        .sidebar-item-overview{
            display: flex;
            align-items: center;
            padding-left: 20px;
            background-color: white;
            border-radius: 10px;
            height: 40px;
            cursor: pointer;

            span {
                font-size: var(--paragraph-1);
                font-weight: 400;
                color: var(--text-color-light);
            
                &:hover {
                    color: var(--text-color);
                    font-weight: 500;
                }
            }
            
            
        }

        
    }
}