
.communityFeed{
    background-color: var(--input);
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%;
    overflow:hidden ;
    .top{
        display: flex;
        justify-content: space-between;
        padding: 18px;
        padding-top: 30px;
        padding-left:25px;
        h1{
            font-size:var(--topic);
            font-weight: 500;
          
        }

        .right{
            display: flex;   
            justify-content: space-around;
            width: 200px;
            font-size: var(--paragraph-1);
            font-weight: 430;
            letter-spacing: 0.03rem;
        }
    }

    .bottom{
       width: 100%;
       height: 100%;
       display: flex;
    }
  
}