.CommunityPostPop{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        background-color: var(--white);
        width:720px;
        height: 670px;
        border-radius: 5px;
        padding: 20px;
        margin: 0px;
  
    .top{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
       
        .details{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width:85%;
            margin-left: 15px;
            height: 100%;
            h4{
                font-weight: 400;
                font-size: var(--header);
                letter-spacing: 0.01rem;
            }
            P{
                font-size: var(--paragraph-1);
                letter-spacing: 0.01rem;
            }
        }
    
        .report{
            display: flex;
            align-items: center;
            margin-right: 5px;
            background-color: var(--input);
            padding: 2px;
            border-radius: 5px;
            cursor: pointer;
            span{
                font-size: var(--paragraph-1);
            }

            i{
                font-size: var(--paragraph-1);

            }
        }
        
       
        i{
            cursor: pointer;
            font-size: var(--topic);
            margin: 5px;
        }



        img{
            width: 55px;
            height: 55px;
            border-radius: 100%;
            margin: 0px;
            object-fit: cover;
        } 
    }

    .p{
        font-size: var(--paragraph-2);
    }

    .image{
            width: 100%;
            height: 55%;
            margin-top: 14px;
            border-radius: 5px;
            margin-bottom: 10px;
            object-fit: cover;
    }
  

    .react{
       width: 100%;
       padding: 0 75px;
       display: flex; 
       align-items: center;
       justify-content: space-between;
       margin-bottom: 15px;
       .cont{
          width: 95px;
          display: flex;
          cursor: pointer;
          justify-content: space-between;
          P{
            font-size: var(--paragraph-2);
          }

          i{
            
            font-size: var(--header);
          }
       }

       @media (max-width: 400px) {
        .cont{
          width: auto;
        }
    }
    }
    
    .addcomment{
        height: 50px;
        padding: 0px 70px;
        margin-bottom: 10px;
        .cont{
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            
            img{
                width: 35px;
                height: 35px;
                margin-right: 25px;
                border-radius: 100%;
                object-fit: cover;
            }
            .comment-details{
                padding: 7px;
                padding-left: 8px;
                border-radius: 5px;
                background-color: var(--input);
                width: 100%;
                input{
                    background-color: var(--input); 
                    font-size: var(--paragraph-1);
                    width: 100%;
                }
                input:focus {
                    outline: none;
                  }
                .down{
                    display: flex;
                    justify-content: end;
                    padding: 2px;
                    padding-right: 7px;
                 
                }
                i{
                    font-size: var(--paragraph-2);
                    opacity: 0.7;
                    cursor: pointer;
                }
            }           
            
          
        }
    }

    
    .comments{
        /* Enable vertical scrolling */
        overflow: auto;
        height: 50px;
        width: 100%;
        padding: 0px 70px;

        display: flex;
        flex-direction: column;
        .cont{
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            
            img{
                width: 35px;
                height: 35px;
                margin-right: 25px;
                border-radius: 100%;
                object-fit: cover;
            }
            .comment-details{
                padding: 7px;
                padding-left: 8px;
                border-radius: 5px;
                background-color: var(--input);
                overflow: scroll;
                h5{
                    font-size: var( --paragraph-1);
                    font-weight: 410;
                    margin-bottom: 3px;
                }
                p{
                    font-size: var( --paragraph-1);
                    border-radius: 5px;
                    letter-spacing: 0.01rem;
                }

              
            }           
            
          
        }

     
    }

 

    .scroll {
        display: flex;
        align-items: center;
        padding: 0px 70px;
        font-size: var(--paragraph-3);
        margin-top: 5px;
      
        i {
          margin-right: 5px;
        }
    }
      
    @media (max-width: 560px) {
        .scroll {
          display: none;
        }
    }
    
    }


    @media (max-width: 400px) {
        .content {
          height: auto;
        }
    }
}