.CommunityPostPop{
    width: 1000px;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-container{
        width: 60%;
        height: 100%;
        //margin-top: 14px;
        border-radius: 10px 0px 0px 10px;
        //margin-bottom: 10px;
        //object-fit: cover;
        background-color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;

        .image{
            width: auto;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .content{
        background-color: var(--white);
        width:40%;
        height: 100%;
        border-radius: 0 10px 10px 0px;
        padding: 0 20px 20px 20px;
        margin: 0px;
        overflow: scroll;

        .super-top{
            display: flex;
            flex-direction: column;
            padding: 10px 0 0 0;
            position: -webkit-sticky; /* For Safari */
            position: sticky;
            top: 0;
            z-index: 5500;
            background-color: white;

            .icons{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;

                .report{
                    display: flex;
                    align-items: center;
                    margin-right: 5px;
                    background-color: var(--input);
                    padding: 5px;
                    border-radius: 5px;
                    width: 80px;
                    height: 30px;
                    cursor: pointer;
    
                    span{
                        font-size: var(--paragraph-1);
                        color: var(--text-color);
                        margin-left: 15px;
                    }
        
                    i{
                        font-size: var(--paragraph-1);
                    }
                }
                
               
                i{
                    cursor: pointer;
                    font-size: var(--topic);
                    //margin: 5px;
                }
            }

            

            .top{
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                padding: 5px 0 0 0;
               
                .details{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width:85%;
                    margin-left: 15px;
                    height: 100%;
                    h4{
                        font-weight: 500;
                        font-size: var(--sidebar);
                        letter-spacing: 0.01rem;
                        color: var(--text-color);
                    }
                    P{
                        font-size: var(--paragraph-1);
                        letter-spacing: 0.01rem;
                        color: var(--text-color);
                    }
                }
            
                
        
        
        
                img{
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    margin: 0px;
                    object-fit: cover;
                } 

                .follow-btn{
                    width: 90px;
                    height: 30px;
                    border-radius: 5px;
                    color: white;
                    background-color: var(--orange);
                    margin-bottom: 5px;
                    box-shadow: var(--box-shadow-1);
                    font-size: var(--paragraph-1);
                    font-weight: 400;
                }
            }
        }
  
    

    .p{
        font-size: var(--paragraph-2);
        margin-bottom: 30px;
        margin-top: 10px;
        color: var(--text-color);
        //font-weight: 410;
    }

    .like-comment-count{
        padding: 0 10px;
        width: 100%;
        //border: 1px solid black;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        span{
            font-size: var(--paragraph-3);
            font-weight: 450;
            color: var(--text-color);
        }

    }

    hr{
        width: 100%;
        height: 1.5px;
        background-color: var(--input);
        margin-bottom: 10px;
    }
  

    .react{
       width: 100%;
       padding: 0 10px;
       display: flex; 
       align-items: center;
       justify-content: space-between;
       margin-bottom: 15px;
       .cont{
          width: 95px;
          display: flex;
          cursor: pointer;
          //justify-content: space-between;
          P{
            font-size: var(--paragraph-2);
            color: var(--text-color);
          }

          i{
            margin-right: 10px;
            font-size: var(--header);
          }
       }

       @media (max-width: 400px) {
        .cont{
          width: auto;
        }
    }
    }
    
    .addcomment{
        height: 50px;
        padding: 0px 10px;
        margin-bottom: 10px;
        .cont{
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            
            img{
                width: 35px;
                height: 35px;
                margin-right: 25px;
                border-radius: 100%;
                object-fit: cover;
            }
            .comment-details{
                padding: 7px;
                padding-left: 8px;
                border-radius: 5px;
                background-color: var(--input);
                width: 100%;
                input{
                    background-color: var(--input); 
                    font-size: var(--paragraph-1);
                    width: 100%;
                }
                input:focus {
                    outline: none;
                  }
                .down{
                    display: flex;
                    justify-content: end;
                    padding: 2px;
                    padding-right: 7px;
                 
                }
                i{
                    font-size: var(--paragraph-2);
                    opacity: 0.7;
                    cursor: pointer;
                }
            }           
            
          
        }
    }

    
    .comments {
        // Enable vertical scrolling
        overflow: auto;
        height: 360px; // Set a specific height
        width: 100%;
        padding: 0px 10px;
        //border: 1px solid black;
        
        display: flex;
        flex-direction: column;
    
        .cont {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
    
            img {
                width: 35px;
                height: 35px;
                margin-right: 25px;
                border-radius: 100%;
                object-fit: cover;
            }
    
            .comment-details {
                padding: 7px;
                padding-left: 8px;
                border-radius: 5px;
                background-color: var(--input);
                overflow: auto; // Enable overflow for .comment-details
                max-height: 200px; // Optional: Set a max-height for individual comment details to enable scrolling within
    
                h5 {
                    font-size: var(--paragraph-1);
                    font-weight: 410;
                    margin-bottom: 3px;
                    color: var(--text-color);
                }
    
                p {
                    font-size: var(--paragraph-1);
                    border-radius: 5px;
                    letter-spacing: 0.01rem;
                    color: var(--text-color);
                }
            }
        }
    }
    

 
      
    @media (max-width: 560px) {
        .scroll {
          display: none;
        }
    }
    
    }


    @media (max-width: 400px) {
        .content {
          height: auto;
        }
    }
}