.showAllTravelGuides{
    margin-top: 20px;

    .container{
        padding: 30px 100px;

        .heading-container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .heading{
                font-size: 27px;
                font-weight: 600;
                color: var(--text-color);
            }

            .search{
                //background-color: var(--blue);
                width: 230px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: 1px solid var(--text-color);
                box-shadow: var(--box-shadow-2);
                //cursor: pointer;

                i{
                    margin-right: 10px;
                }

                input{
                    font-size: var(--paragraph-2);
                    font-weight: 500;
                    color: var(--text-color);
                    outline: none;
                }
            }
        }

        .listings{
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 30px;
        }
    }
}