// .register{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     animation: TopBottom 0.6s ease-out ;

//     .container{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         border-radius: 15px;
//         background-color: var(--white);;
//         height: 75vh;
//         //border: 1px solid black;
//         box-shadow: var(--box-shadow-2);
//         width: 29%;
//         .close-btn{
//             width: 25px;
//             height: 25px;
//             background-color: var(--input);
//             border-radius: 50%;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             margin-left: 90%;
//             margin-top: 8px;
//             cursor: pointer;

//             i{
//                 margin-top: 3px;
//             }
//         }

//         .heading{
//             margin-top: 30px;
//             width: 70%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             //height: 50px;
//             //border: 1px solid black;
//             //justify-content: center;

//             p{
//                 font-size: 24px;
//                 font-weight: 700;
//                 text-align: center;
//                 color: var(--text-color);
//             }
//         }

//         .sign-up-google{
//             display: flex;
//             align-items: center;
//             width: 75%;
//             height: 50px;
//             padding: 5px;
//             border: 1px solid var(--text-color-light);
//             margin-top: 50px;
//             border-radius: 10px;
//             box-shadow: var(--box-shadow-1);
//             cursor: pointer;

//             img{
//                 width: 23px;
//                 height: 23px;
//                 object-fit: cover;
//                 margin-left: 20px;
//             }

//             span{
//                 margin-left: 40px;
//                 font-size: var(--paragraph-2);
//                 font-weight: 500;
//                 color: var(--text-color-light);
//             }
//         }

//         .or{
//             display: flex;
//             align-items: center;
//             margin-top: 35px;
//             width: 75%;

//             span{
//                 margin-left: 20px;
//                 margin-right: 20px;
//                 font-size: var(--paragraph-2);
//                 font-weight: 500;
//                 color: var(--text-color-light);
//             }

//             hr{
//                 background-color: rgb(214, 212, 212);
//                 width: 42%;
//                 height: 1px;
//             }
//         }

//         .email{
//             display: flex;
//             align-items: center;
//             width: 75%;
//             height: 50px;
//             padding: 5px 10px;
//             border: 1px solid var(--text-color-light);
//             margin-top: 35px;
//             border-radius: 10px;
//             box-shadow: var(--box-shadow-1);

//             input{
//                 width: 100%;
//                 height: 100%;
//                 outline: none;
//                 font-size: var(--paragraph-2);
//                 font-weight: 400;
//                 color: var(--text-color-light);
//             }

//         }

//         .password{
//             display: flex;
//             align-items: center;
//             width: 75%;
//             height: 50px;
//             padding: 5px 10px;
//             border: 1px solid var(--text-color-light);
//             margin-top: 20px;
//             border-radius: 10px;
//             box-shadow: var(--box-shadow-1);

//             input{
//                 width: 100%;
//                 height: 100%;
//                 outline: none;
//                 font-size: var(--paragraph-2);
//                 font-weight: 400;
//                 color: var(--text-color-light);
//             }
//         }

//         .sign-up-btn{
//             margin-top: 20px;
//             cursor: pointer;

//             span{
//                 font-size: var(--sidebar);
//                 font-weight: 600;
//                 color: var(--text-color); 
//             }
//         }

//         .log-in{
//             margin-top: 40px;
//             cursor: pointer;

//             span{
//                 font-size: var(--paragraph-2);
//                 font-weight: 400;
//                 color: var(--text-color-light); 
//             }
//         }
//     }

//     @keyframes TopBottom {
//         from {
//           transform: translatey(-4%);
//         }
      
//         to {
//           transform: translateX(0);
//         }
//     }
// }


//test 1

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: TopBottom 0.6s ease-out ;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: var(--white);;
        height: 80vh;
        //border: 1px solid black;
        box-shadow: var(--box-shadow-2);
        width: 29%;
        .close-btn{
            width: 25px;
            height: 25px;
            background-color: var(--input);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 90%;
            margin-top: 8px;
            cursor: pointer;

            i{
                margin-top: 3px;
            }
        }

        .field-div {
            display: flex;
        flex-direction: column;
        align-items: center;
            .heading{
                margin-top: 30px;
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                //height: 50px;
                //border: 1px solid black;
                //justify-content: center;
    
                p{
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    color: var(--text-color);
                }
            }
    
            .sign-up-google{
                display: flex;
                align-items: center;
                width: 75%;
                height: 50px;
                padding: 5px;
                border: 1px solid var(--text-color-light);
                margin-top: 50px;
                border-radius: 10px;
                box-shadow: var(--box-shadow-1);
                cursor: pointer;
    
                img{
                    width: 23px;
                    height: 23px;
                    object-fit: cover;
                    margin-left: 20px;
                }
    
                span{
                    margin-left: 40px;
                    font-size: var(--paragraph-2);
                    font-weight: 500;
                    color: var(--text-color-light);
                }
            }
    
            .or{
                display: flex;
                align-items: center;
                margin-top: 35px;
                width: 75%;
    
                span{
                    margin-left: 20px;
                    margin-right: 20px;
                    font-size: var(--paragraph-2);
                    font-weight: 500;
                    color: var(--text-color-light);
                }
    
                hr{
                    background-color: rgb(214, 212, 212);
                    width: 42%;
                    height: 1px;
                }
            }
    
            .email{
                display: flex;
                align-items: center;
                width: 75%;
                height: 50px;
                padding: 5px 10px;
                border: 1px solid var(--text-color-light);
                margin-top: 35px;
                border-radius: 10px;
                box-shadow: var(--box-shadow-1);
    
                input{
                    width: 100%;
                    height: 100%;
                    outline: none;
                    font-size: var(--paragraph-2);
                    font-weight: 400;
                    color: var(--text-color-light);
                }
    
            }
    
            .password{
                display: flex;
                align-items: center;
                width: 75%;
                height: 50px;
                padding: 5px 10px;
                border: 1px solid var(--text-color-light);
                margin-top: 20px;
                border-radius: 10px;
                box-shadow: var(--box-shadow-1);
    
                input{
                    width: 100%;
                    height: 100%;
                    outline: none;
                    font-size: var(--paragraph-2);
                    font-weight: 400;
                    color: var(--text-color-light);
                }
            }
    
            .sign-up-btn{
                margin-top: 20px;
                cursor: pointer;
    
                span{
                    font-size: var(--sidebar);
                    font-weight: 600;
                    color: var(--text-color); 
                }
            }
    
            .log-in{
                margin-top: 40px;
                cursor: pointer;
    
                span{
                    font-size: var(--paragraph-2);
                    font-weight: 400;
                    color: var(--text-color-light); 
                }
            }
        }
        .code-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: RightLeft 0.6s ease-out ;
          
            .heading {
              margin-bottom: 20px;
              font-size: 18px;
              text-align: center;
            }
          
            .verification-code {
              margin-bottom: 20px;
              input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
              }
            }
          
            .confirm-btn {
              background-color: #007bff;
              color: white;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
              text-align: center;
          
              &:hover {
                background-color: #0056b3;
              }
            }
          }
          
    }

    @keyframes TopBottom {
        from {
          transform: translatey(-4%);
        }
      
        to {
          transform: translateX(0);
        }
    }
    @keyframes RightLeft {
        from {
          transform: translateX(100%);
        }
      
        to {
          transform: translateX(0);
        }
      }
}