.subscriber-container {
    font-family: Arial, sans-serif;
    // background-color: #f9f9f9;
    border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70vw;
    height: auto;
  }
  
  .subscriber-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .subscriber-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    width: 70vw;
    
    overflow: scroll;
  
    th, td {
      padding: 12px 15px;
      text-align: left;
      border: 1px solid #ddd;
    }
  
    th {
      background-color: #4caf50;
      color: white;
      font-weight: bold;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #f1f1f1;
    }
  
    td {
      color: #333;
    }
  }
  
  
  
  .subscriber-title {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .send-newsletter-button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #6c63ff, #8b85ff);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0)
  }