.CommunityFriends{
    background-color: var(--input);
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%;
    overflow:hidden ;
    .top{
        display: flex;
        justify-content: space-between;
        padding: 18px;
        padding-top: 30px;
        padding-left:25px;
        h1{
            font-size:var(--topic);
            font-weight: 500;
          
        }

        .right{
            display: flex;   
            justify-content: space-around;
            width: 200px;
            font-size: var(--paragraph-1);
            font-weight: 500;
            letter-spacing: 0.03rem;
        }
    }

    .bottom{
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       padding: 18px;
       padding-left:25px;
       padding-bottom: 65px;
       overflow: scroll;

       .cont{
            display: flex;
            align-items: center;
            background-color: var(--white);
            margin-bottom: 10px;
            border-radius: 10px;
            box-shadow: var(--box-shadow-1);
            padding: 10px 35px;
            img{
                width: 85px;
                height: 85px;
                border-radius: 100%;
                margin-right: 40px;
            }

            h2{
                font-weight: 450;
                font-size: var(--paragraph-2);
                letter-spacing: 0.01rem;
                width: 72%;
            }

            button{
                padding: 8px 10px;
                background-color: var(--blue-2);
                border-radius: 5px;
                font-size: var(--paragraph-1);
                color: var(--white);
                font-weight: 500;
                letter-spacing: 0.02rem;
                cursor: pointer;
            }
       }
    }
   
}