$background-icon: rgb(22, 22, 22);

.navbar{
    width: 100%;
    height: 60px;
    border: 1px solid red;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        width: 150px;
        height: 40px;
        margin-left: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 22px;
            height: 35px;
        }

        .logo-name{
            font-size: 20px;
            font-weight: 600;
            color: var(--orange);
        }
    }

    .nav-right{
        width: 250px;
        height: 30px;
        margin-right: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .share{
            width: 120px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background-icon;
            color: white;
            border-radius: 20px;
        }

        .print{
            width: 120px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $background-icon;
            color: white;
            border-radius: 20px;
        }
    }
}