// .login{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     animation: TopBottom 0.6s ease-out ;
//     .container{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         border-radius: 15px;
//         background-color: var(--white);
//         z-index: 100;
//         width: 29%;
//         height: 75vh;
//         //border: 1px solid black;
//         box-shadow: var(--box-shadow-2);

//         .close-btn{
//             width: 25px;
//             height: 25px;
//             background-color: var(--input);
//             border-radius: 50%;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             margin-left: 90%;
//             margin-top: 5px;
//             cursor: pointer;

//             i{
//                 margin-top: 3px;
//             }
//         }

//         .heading{
//             margin-top: 30px;
//             width: 70%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             //height: 50px;
//             //border: 1px solid black;
//             //justify-content: center;

//             span{
//                 font-size: 24px;
//                 font-weight: 700;
//                 text-align: center;
//                 color: var(--text-color);
//             }
//         }

//         .sign-up-google{
//             display: flex;
//             align-items: center;
//             width: 75%;
//             height: 50px;
//             padding: 5px;
//             border: 1px solid var(--text-color-light);
//             margin-top: 50px;
//             border-radius: 10px;
//             box-shadow: var(--box-shadow-1);
//             cursor: pointer;

//             img{
//                 width: 23px;
//                 height: 23px;
//                 object-fit: cover;
//                 margin-left: 20px;
//             }

//             span{
//                 margin-left: 40px;
//                 font-size: var(--paragraph-2);
//                 font-weight: 500;
//                 color: var(--text-color-light);
//             }
//         }

//         .or{
//             display: flex;
//             align-items: center;
//             margin-top: 35px;
//             width: 75%;

//             span{
//                 margin-left: 20px;
//                 margin-right: 20px;
//                 font-size: var(--paragraph-2);
//                 font-weight: 500;
//                 color: var(--text-color-light);
//             }

//             hr{
//                 background-color: rgb(214, 212, 212);
//                 width: 42%;
//                 height: 1px;
//             }
//         }

//         .email{
//             display: flex;
//             align-items: center;
//             width: 75%;
//             height: 50px;
//             padding: 5px 10px;
//             border: 1px solid var(--text-color-light);
//             margin-top: 35px;
//             border-radius: 10px;
//             box-shadow: var(--box-shadow-1);

//             input{
//                 width: 100%;
//                 height: 100%;
//                 outline: none;
//                 font-size: var(--paragraph-2);
//                 font-weight: 400;
//                 color: var(--text-color-light);
//             }

//         }

//         .password{
//             display: flex;
//             align-items: center;
//             width: 75%;
//             height: 50px;
//             padding: 5px 10px;
//             border: 1px solid var(--text-color-light);
//             margin-top: 20px;
//             border-radius: 10px;
//             box-shadow: var(--box-shadow-1);

//             input{
//                 width: 100%;
//                 height: 100%;
//                 outline: none;
//                 font-size: var(--paragraph-2);
//                 font-weight: 400;
//                 color: var(--text-color-light);
//             }
//         }

//         .forgot-password{
//             margin-top: 5px;
//             cursor: pointer;

//             span{
//                 font-size: var(--paragraph-3);
//                 font-weight: 500;
//                 color: var(--text-color-light); 
//             }
//         }

//         .sign-up-btn{
//             margin-top: 20px;
//             cursor: pointer;

//             span{
//                 font-size: var(--sidebar);
//                 font-weight: 700;
//                 color: var(--text-color); 
//             }
//         }

//         .log-in{
//             margin-top: 40px;
//             cursor: pointer;

//             span{
//                 font-size: var(--paragraph-2);
//                 font-weight: 400;
//                 color: var(--text-color-light); 
//             }
//         }

//     }


//     @keyframes TopBottom {
//         from {
//           transform: translatey(-4%);
//         }
      
//         to {
//           transform: translateX(0);
//         }
//     }
// }

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: TopBottom 0.6s ease-out ;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: var(--white);
        z-index: 100;
        width: 29%;
        height: 75vh;
        //border: 1px solid black;
        box-shadow: var(--box-shadow-2);

        .login-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .close-btn{
                width: 25px;
                height: 25px;
                background-color: var(--input);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 90%;
                margin-top: 5px;
                cursor: pointer;
    
                i{
                    margin-top: 3px;
                }
            }

            .heading{
                margin-top: 30px;
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                //height: 50px;
                //border: 1px solid black;
                //justify-content: center;
    
                span{
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    color: var(--text-color);
                }
            }
    
            .sign-up-google{
                display: flex;
                align-items: center;
                width: 75%;
                height: 50px;
                padding: 5px;
                border: 1px solid var(--text-color-light);
                margin-top: 50px;
                border-radius: 10px;
                box-shadow: var(--box-shadow-1);
                cursor: pointer;
    
                img{
                    width: 23px;
                    height: 23px;
                    object-fit: cover;
                    margin-left: 20px;
                }
    
                span{
                    margin-left: 40px;
                    font-size: var(--paragraph-2);
                    font-weight: 500;
                    color: var(--text-color-light);
                }
            }
    
            .or{
                display: flex;
                align-items: center;
                margin-top: 35px;
                width: 75%;
    
                span{
                    margin-left: 20px;
                    margin-right: 20px;
                    font-size: var(--paragraph-2);
                    font-weight: 500;
                    color: var(--text-color-light);
                }
    
                hr{
                    background-color: rgb(214, 212, 212);
                    width: 42%;
                    height: 1px;
                }
            }
    
            .email{
                display: flex;
                align-items: center;
                width: 75%;
                height: 50px;
                padding: 5px 10px;
                border: 1px solid var(--text-color-light);
                margin-top: 35px;
                border-radius: 10px;
                box-shadow: var(--box-shadow-1);
    
                input{
                    width: 100%;
                    height: 100%;
                    outline: none;
                    font-size: var(--paragraph-2);
                    font-weight: 400;
                    color: var(--text-color-light);
                }
    
            }
    
            .password{
                display: flex;
                align-items: center;
                width: 75%;
                height: 50px;
                padding: 5px 10px;
                border: 1px solid var(--text-color-light);
                margin-top: 20px;
                border-radius: 10px;
                box-shadow: var(--box-shadow-1);
    
                input{
                    width: 100%;
                    height: 100%;
                    outline: none;
                    font-size: var(--paragraph-2);
                    font-weight: 400;
                    color: var(--text-color-light);
                }
            }
    
            .forgot-password{
                margin-top: 5px;
                cursor: pointer;
    
                span{
                    font-size: var(--paragraph-3);
                    font-weight: 500;
                    color: var(--text-color-light); 
                }
            }
    
            .sign-up-btn{
                margin-top: 20px;
                cursor: pointer;
    
                span{
                    font-size: var(--sidebar);
                    font-weight: 700;
                    color: var(--text-color); 
                }
            }
    
            .log-in{
                margin-top: 40px;
                cursor: pointer;
    
                span{
                    font-size: var(--paragraph-2);
                    font-weight: 400;
                    color: var(--text-color-light); 
                }
            }
        }

        .email-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .btns {
                display: flex;
                //border: 1px solid red;
                justify-content: space-between;
                width: 100%;
                padding: 5px;

                .close-btn, .back-btn {
                    width: 25px;
                    height: 25px;
                    background-color: var(--input);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /*margin-left: 90%;*/
                    //margin: 5px 5px;
                    cursor: pointer;
        
                    i{
                        margin-top: 3px;
                    }
                }
                // .back-btn{
                //     width: 25px;
                //     height: 25px;
                //     background-color: var(--input);
                //     border-radius: 50%;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     /*margin-left: 10%;*/
                //     //margin-top: 5px;
                //     cursor: pointer;
        
                //     i{
                //         margin-top: 3px;
                //     }
                // }

            }
          
            .heading {
              margin-top: 30px;
              width: 70%;
              display: flex;
              flex-direction: column;
              align-items: center;
          
              span {
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                color: var(--text-color);
              }
            }
          
            .email {
              display: flex;
              align-items: center;
              width: 75%;
              height: 50px;
              padding: 5px 10px;
              border: 1px solid var(--text-color-light);
              margin-top: 35px;
              border-radius: 10px;
              box-shadow: var(--box-shadow-1);
          
              input {
                width: 100%;
                height: 100%;
                outline: none;
                font-size: var(--paragraph-2);
                font-weight: 400;
                color: var(--text-color-light);
              }
            }
          
            .send-code-btn {
              margin-top: 20px;
              cursor: pointer;
          
              span {
                font-size: var(--sidebar);
                font-weight: 700;
                color: var(--text-color);
              }
            }
        }
          
        .code-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .btns {
                display: flex;
                //border: 1px solid red;
                justify-content: space-between;
                width: 100%;
                padding: 5px;

                .close-btn, .back-btn {
                    width: 25px;
                    height: 25px;
                    background-color: var(--input);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /*margin-left: 90%;*/
                    //margin: 5px 5px;
                    cursor: pointer;
        
                    i{
                        margin-top: 3px;
                    }
                }
            }
          
            .heading {
              margin-top: 30px;
              width: 70%;
              display: flex;
              flex-direction: column;
              align-items: center;
          
              span {
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                color: var(--text-color);
              }
            }
          
            .verification-code, .new-password, .confirm-new-password {
              display: flex;
              align-items: center;
              width: 75%;
              height: 50px;
              padding: 5px 10px;
              border: 1px solid var(--text-color-light);
              margin-top: 20px;
              border-radius: 10px;
              box-shadow: var(--box-shadow-1);
          
              input {
                width: 100%;
                height: 100%;
                outline: none;
                font-size: var(--paragraph-2);
                font-weight: 400;
                color: var(--text-color-light);
              }
            }
          
            .confirm-btn {
              margin-top: 20px;
              cursor: pointer;
          
              span {
                font-size: var(--sidebar);
                font-weight: 700;
                color: var(--text-color);
              }
            }
        }

    }


    @keyframes TopBottom {
        from {
          transform: translatey(-4%);
        }
      
        to {
          transform: translateX(0);
        }
    }
}