.MyplanningsAcceptedCont{

    width: 100%;
    height: 220px !important;
    border-radius: 10px;
    border: 2px solid var(--input);
    box-shadow: var(--box-shadow-1);
    margin-bottom: 13px;
    padding: 15px;
    display: flex;

    img{
       width: 260px;
       height: 100%;
       border-radius: 10px;
    }

    .details{
       width: 530px;
       display: flex;
       padding-left: 20px;
       flex-direction: column;
            justify-content: center;
       h1{
         font-size: var(--topic);
         font-weight: 500;
         margin-bottom: 5px;
       }

       p{
         font-size: var(--paragraph-2);
         margin-bottom: 5px;
       }

       button{    
            background: var(--blue);
            width:55px;
            color: var(--white);
            font-weight: 500;
            height: 27px;
            border-radius:5px;
            margin-bottom: 5px;
       }

       .people{
        
            height: 32px;
            width: 100%;
            display: flex;
            align-items: end;
            img{
               border-radius: 100%;
               width: 30px;
               height: 30px;
               margin-right: 3px
            };

            span{
                 font-size: var(--paragraph-3);
                 cursor: pointer;
            }
       }

     
    }

    .delete{
            display: flex;
          
            font-size: var(--paragraph-1);
            align-items: center;
            justify-content: center;
            height: 100%;
            span{
                 cursor: pointer;
                 display: flex;
                 align-items: center;
                 justify-content: space-between;
                 border-radius: 5px;
                 padding: 10px;
                 border: 1px solid var(--input);
                 i{
                    margin-right: 6px;
                    font-size: var(--paragraph-2);
                  }
            }
         
            
    }

    .by{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        h4{
            font-size: var(--paragraph-1);
            font-weight: 400;
            margin-right: 4px;
        }

        img{
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
}