.trvelplan{
    display: flex;
    justify-content: center;  
    width: 100%;
    height: 100vh !important;
    .container{
        display: grid;
        grid-template-columns: 61% 39%;
        width: 100%;
        
        .planning{
            width: 61%;
            width: 100%;
          
            hr{
                width: 100%;
                height: 1px;
                background-color: #f1f4f7;
            }

            .plan-container{
                width: 100%;
                display: grid;
                grid-template-columns: 20% 80%;

                .plan-sidebar {
                    height: 95vh;
                    z-index: 500;
                    cursor: pointer;
                    overflow: scroll;
                    position: -webkit-sticky;
                    position: sticky;
                    height: 91.6vh;
                    border-right: 2px solid #f1f4f7; 
                }

                .plan-list-container{
                    display: flex;
                    flex-direction: column;
                    background-color: #f1f4f7;
                    height: 91.6vh;

                    overflow: scroll; 
                    .plan-list{
                        width: 100%;
                        height: 350px;
                        position: relative;
                        margin-bottom: 70px;
                        img{
                            width: 100%;
                            height: 230px;
                            object-fit: cover;
                        }
                    }

                    .travelplan-hr{
                        width: 100%;
                        height: 1.5px;
                        background-color: #f1f4f7;
                    }

                    .travelplan-hr-line{
                        width: 100%;
                        height: 7px;
                        background-color: #f1f4f7;
                    }
                }
               
            }
        }

        .map{
            width: 100%;
            height: 100%;
        
        }

        
    }
}
