.trvelplan{
    display: flex;
    justify-content: center;  
    
    .container{
        display: flex;
        width: 100%;
        //border: 1px solid red;
        
        .planning{
            width: 61%;
            height: 400px;
            //border: 1px solid red;

            hr{
                width: 100%;
                height: 1px;
                background-color: #f1f4f7;
            }

            .plan-container{
                display: flex;
                width: 100%;
                //border: 1px solid red;

                .plan-sidebar{
                    width: 20%;
                    height: 350px;
                }

                .plan-list-container{
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    //border: 1px solid red;
                    background-color: #f1f4f7;

                    .plan-list{
                        width: 100%;
                        height: 350px;
                        position: relative;
    
                        img{
                            width: 100%;
                            height: 230px;
                        }
                    }
                }
               
            }
        }

        .map{
            width: 39%;
            height: 200px;
            border: 1px solid red;
        }

        
    }
}
