
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

:root {
    --text-color: #414143;
    --text-color-light: #747474;
    --orange: #F68712;
    --green: #1BBC9B;
    --blue: #15BAD3;
    --white: white;


    /*fonts*/
    --header: 18px;
    --sidebar: 16px;
    --paragraph-1: 14px;
    --paragraph-2: 15px;
    --topic: 21px;

    /*box-shadows*/
    --boxshadow-1: ;
    --boxshadow-2: ;
}

