.setBudget{
    height: auto;
    width: 27%;
    background-color: white;
    z-index: 2500;
    border-radius: 10px;
    box-shadow: var(--box-shadow-2);

    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        .closing-i{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            height: 25px;
            width: 25px;
            margin-left: 375px;
            background-color: var(--input);
            border-radius: 50%;
            cursor: pointer;
            
            i{
                margin-top: 3px
            }
        }

        .hearder{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;

            span{
                font-size: var(--topic);
                font-weight: 700;
                color: var(--text-color);
            }
        }

        .type-budget{
            width: 90%;
            display: flex;
            align-items: center;
            margin-top: 20px;
            padding: 5px 10px;
            border: 1px solid var(--input);
            box-shadow: var(--box-shadow-1);
            border-radius: 10px;
            height: 45px;

            i{
                margin-top: 3px;
            }

            input{
                outline: none;
                margin-left: 10px;
                font-size: var(--paragraph-2);
                font-weight: 450;
                color: var(--text-color-light);
            }
        }

        .save-btn{
            width: 85px;
            height: 35px;
            background-color: var(--orange);
            border-radius: 20px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-top: 20px;
            margin-bottom: 10px;

            span{
                font-size: var(--paragraph-2);
                font-weight: 550;
                color: white;
            }
        }
    }
}