// /* AddEventListing.scss */
// .edit-event-listing-form {
//     display: flex;
//     flex-direction: column;
//     width: 600px;
//     height: 675px;
//     margin: 0 auto;
//     padding: 5px 20px 20px 20px;
//     box-shadow: var(--box-shadow-2);
//     border-radius: 8px;
//     background-color: #fff;

//     .closing-i{
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       padding: 5px;
//       height: 25px;
//       width: 25px;
//       margin-left: 550px;
//       background-color: var(--input);
//       border-radius: 50%;
//       cursor: pointer;

//       i{
//           margin-top: 3px
//       }
//     }

//     h2 {
//       text-align: center;
//       color: var(--text-color);
//       margin-top: -15px;
//     }

//     div {
//       margin-bottom: 20px;
//     }

//     label {
//       display: block;
//       margin-bottom: 5px;
//       color: var(--text-color);
//       font-weight: 400;
//     }

//     input[type="text"],
//     input[type="email"],
//     input[type="number"],
//     textarea {
//       width: 100%;
//       padding: 10px;
//       border: 1px solid #ccc;
//       border-radius: 4px;
//       box-sizing: border-box;
//       color: var(--text-color);
//     }

//     textarea {
//       height: 100px;
//       resize: vertical;
//     }

//     button {
//       width: 100%;
//       padding: 10px;
//       background-color: var(--blue);
//       color: #fff;
//       border: none;
//       border-radius: 4px;
//       font-weight: 500;
//       cursor: pointer;
//       transition: background-color 0.3s ease;

//       &:hover {
//         background-color: #0056b3;
//       }
//     }
//   }

.edit-event-listing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-color: rgb(255, 255, 255);
  padding: 2vw;
  border-radius: 2vw;

  .head-edit-event {
    width: 100%;
    margin-bottom: 2vw;
    display: flex;
    position: relative;
    i {
      position: absolute;
      right: 0;
    }
  }

  .form-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .edit-event-left {
      width: 50%;

      div {
        margin-bottom: 15px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
      }

      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .edit-event-right {
      width: 50%;

      .enter-location {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          padding: 8px;
          box-sizing: border-box;
        }
      }

      .map-container {
        width: 90%;
        height: 50vh;
        z-index: 1;
      }
    }
  }
}
