.sidebar{
    display: flex;
    width: 250px;
    background-color: var(--blue);
    height: 100vh;
    padding:10px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow-2);
}
.sidebar h1{
    padding: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

ul{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;

    li{
        margin-bottom: 15px;

        a{
            color: #000;
            text-decoration: none;
            display: flex;
            width: 100%;
            padding: 15px;
            border-radius: 4px;
            font-weight: 400;
            font-size: 18px;
            
            &:hover{
                background-color: #fc8200;
            }
        }
    }

}